@import "variables";

%input{
  background: $filters-input-bg;
  border-radius: .125rem;
  border: 0;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24), inset 0 -2px 5px 0 rgba(0,0,0,0.10), inset 0 2px 5px 0 rgba(0,0,0,0.10);
  color: $filters-input-color;
  display: table;
  font-weight: bold;
  height: $filters-input-height;
  line-height: $filters-input-height !important;
  outline: none;
  vertical-align: middle;
  &:hover{
    cursor: text;
  }
}

%button{
  @extend %input;
  border-radius: 0;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24);
  text-transform: uppercase;
  color: white;
  &:hover{
    cursor: pointer;
    background-color: lighten($filters-input-bg, 10%);
  }
}

%container {
  margin: 0 auto;
  width: calc(100vw - 100px);
}
