$filters-bg: #1f5668;
$filters-input-bg: #1b4b5b;
$filters-input-color: #8da5ad;
$filters-input-height: 30px;
$filters-input-padding-base: 1rem;

$map-bg: #efe9e1;
$map-border: #dcddde;
$map-container-height: 430px;
$map-container-vpadding: 50px;

$data-list-container-vpadding: 20px;
$data-list-button-border: #70bacf;
$data-list-button-bg: #0e8aae;

$link-blue: #109bbc;
$yellow: #fbb755;
$red: #db2b27;

//
// Mobile settings
$mobile-breakpoint: 480px;
$mobile-map-container-vpadding: 20px;
