@import "variables";

html, body, #app {
  margin: 0;
  padding: 0;
}

// in order to avoid rule conflicts, scope everything under .greater-dc-data-explorer
.greater-dc-data-explorer {

  *, *:before, *:after {
    box-sizing: border-box;
  }

  .App {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;

    a, a:link, a:active, a:visited {
      color: $link-blue;
      text-decoration: none;
    }

    a:hover {
      color: adjust-color($link-blue, $lightness: 5%);
    }

    .container {
      width: calc(100vw - 100px);
      margin: 0 auto;
    }
  }
}
