@import "extends";

.greater-dc-data-explorer {

  .Filters {
    position: relative;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
    z-index: 1;
    height: 200px;

    .sources-and-notes-tooltip {
      position: absolute;
      display: none;
      left: 10px;
      width: 110%;
      z-index: 2;
      @extend %card;
      background: rgba(255, 255, 255, 0.95);

      &.visible { display: block; }

      &.geography { top: 30px; }
      &.topic { top: 75px; }
      &.indicator { top: 115px; }
      &.year { top: 155px; }

    }
  }

  .Filters-row{
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    max-width: 100%;
    &:first-child {
      margin-bottom: 10px;
    }
  }

  .Select{
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .Filters-reset-filters {
    @extend %button;
  }

  .Select-control {
    @extend %input;
    // align-items: center;
    // border: 0;
    // display: flex;
    // justify-content: space-between;
  }

  .Select-value-label[aria-selected='true'] {
    color: saturate($filters-input-color, 50%) !important;
  }
  .Select-placeholder {
    color: lighten(black, 25%);
  }

  .Select.is-disabled > .Select-control {
    .Select-placeholder {
      color: lighten(black, 75%);
    }
    &:hover {
      cursor: not-allowed;
    }
    .Select-arrow-zone {
      display: none;
    }
  }


  .Select-input {
    height: $filters-input-height;
    padding: 0;

    input {
      color: white;
      outline: none;
    }
  }

  .Select-arrow-zone {
    height: $filters-input-height;
    line-height: $filters-input-height;
    padding: 0;
  }

  .Select-clear {
    line-height: $filters-input-height;
  }

  .Select-value {
    height: $filters-input-height;
    line-height: $filters-input-height;
  }

  .Select-menu-outer {
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3)
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .App {
    .Filters {
      flex-basis: 100%;
      max-width: 100%;
      flex-basis: calc(100% - 40px);
      max-width: calc(100% - 40px);
    }
    .Map-legend {
      display: none;
    }
  }
}
