@import "extends";

.greater-dc-data-explorer {

  .Filters {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
    z-index: 1;
  }

  .Filters-row{
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    max-width: 100%;
    &:first-child {
      margin-bottom: 10px;
    }
  }

  .Select{
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .Filters-reset-filters {
    @extend %button;
  }

  .Select-control {
    @extend %input;
    // align-items: center;
    // border: 0;
    // display: flex;
    // justify-content: space-between;
  }

  .Select-placeholder {
    color: rgba($filters-input-color, 50%);
  }

  .Select.is-disabled > .Select-control {
    background-color: $filters-input-bg;
    .Select-placeholder {
      color: adjust-color($filters-bg, $lightness: 5%);
    }
    &:hover {
      cursor: not-allowed;
    }
    .Select-arrow-zone {
      display: none;
    }
  }


  .Select-input {
    height: $filters-input-height;
    padding: 0;

    input {
      color: white;
      outline: none;
    }
  }

  .Select-arrow-zone {
    height: $filters-input-height;
    line-height: $filters-input-height;
    padding: 0;
  }

  .Select-clear {
    line-height: $filters-input-height;
  }

  .Select-value {
    height: $filters-input-height;
    line-height: $filters-input-height;
  }

  .Select-value-label {
    color: white !important;
  }

  .Select-menu-outer {
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3)
  }
}
