@import "variables";

.greater-dc-data-explorer {

  .Map {
    background: $map-bg;
    border-bottom: 1px solid $map-border;
    position: relative;

    .container {
      bottom: 0;
      display: flex;
      height: 100%;
      left: 0;
      padding: 15px;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }

    .Map-legend {
      align-self:flex-start;
      background: white;
      border-radius: 3px;
      box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
      display: flex;
      display: none;
      flex-basis: 25%;
      flex-wrap: wrap;
      font-size: 12px;
      margin-left: 41.66666667%;
      max-width: 25%;
      padding: 10px 20px;
      position: relative;
      z-index: 1;

      &.visible {
        display: inline-block;
      }

      ul {
        list-style: none;
        padding: 0;

        li { margin-bottom: 5px; }
        li span {
          display: inline-block;
          vertical-align: middle;

          &.color {
            width: 25px;
            height: 20px;
            margin-right: 10px;
          }
        }
      }
    }

    #map {
      height: $map-container-height;
      width: 100%;
      background: white;
    }

    .Map-embed {
      float: right;
      margin-top: 5px;
      font-size: 12px;
      font-weight: bold;
    }
  }
}
