@import "variables";

.greater-dc-data-explorer {

  .Map {
    background: $map-bg;
    padding: $map-container-vpadding 0;
    border-bottom: 1px solid $map-border;

    #map {
      height: $map-container-height;
      width: 100%;
      background: white;
    }

    .Map-embed {
      float: right;
      margin-top: 5px;
      font-size: 12px;
      font-weight: bold;
    }
  }
}
