@import "variables";

@media screen and (max-width: $mobile-breakpoint) {
  .greater-dc-data-explorer {

    .App .container {
      width: calc(100vw - 40px);
    }

    .Filters {
      .Filters-row {
        // background: red;
        height: auto;

        .Select {
          display: block;
          width: 100%;
          margin: 0 0 10px;
        }
      }
    }

    .Map {
      padding: $mobile-map-container-vpadding 0;

      .Map-embed {
        display: none;
      }

      .Map-legend {
        max-width: 150px;
        bottom: 10px;
        top: auto;
        padding: 10px;

        h3 {
          margin-top: 0;
        }
      }
    }

    .DataTable {
      padding-bottom: 0;

      .container {
        position: relative;
        width: 100%;
        
        // left / right inset shadows to indicate table is scrollable
        $shadow-length: 20px;

        &:before, &:after {
          content: "";
          display: none;
          position: absolute;
          top: 0;
          bottom: 0;
          width: $shadow-length;
          // background: rgba(255, 0, 0, 0.3);
          z-index: 10;
          pointer-events: none;
        }

        &:before {
          left: 0;
          box-shadow: inset $shadow-length 0 ($shadow-length + 2px) (-$shadow-length / 2) rgba(0, 0, 0, 0.4);
        }
        &:after {
          right: 0;
          // box-shadow: inset -11px 0 13px -11px rgba(0, 0, 0, 0.4);
          box-shadow: inset (-$shadow-length) 0 ($shadow-length + 2px) (-$shadow-length) rgba(0, 0, 0, 0.4);
        }

        &.left-shadow:before { display: block; }
        &.right-shadow:after { display: block; }
      }

      .DataTable-actions {
        padding: 0 20px 20px;

        a { display: none };

        a[download] {
          display: block;
          width: 100%;
          text-align: center;
          font-size: 16px;
        }
      }

      .scroller {
        overflow-x: auto;
      }

      table {
        width: auto;
        min-width: 200%
      }
    }

  }
}
